/* ------992px screen styles------ */

@media screen and (max-width: 1040px) {
    
    /* ---------nav-responsive-style------- */
    .nav-menu {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    /* ------team-container-responsive-style--------- */
    .teams-container {
        flex-direction: column-reverse;
        margin-top: 50px;
        
    }

    .teams-img-container {
        width: 100%;
    }

    .teams-description-container {
        width: 100%;
        margin: 30px 0 50px 0;
        text-align: center;
        
    }

    .teams-description-container h2 {
        margin: 0 0 20px 0;
    }

    .teams-description-container p {
    margin: 0 0 20px 0;
    }

    /* ----------features-container-responsive-styles------ */

    .features-container {
        flex-direction: column-reverse;
    }

    .features-container-img {
        width: 100%;
    }

    .ten-year-batch {
        width: 100%;
        top: -20px;
        left: 0;
    }

    .features-description-container {
        width: 100%;
    }

    .features-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .feature-cards {
        margin: 0;
    }

}

/* ------776px screen styles------- */

@media screen and (max-width: 768px) {
    
/* -----nav-responsive-style---- */
    nav {
        padding: 30px;
    }

    nav h3 {
        font-size: 2rem;
    }

    .header-banner {
        margin-top: 30px;
    }

    .banner-title span {
        font-size: 3rem;
    }

    .ten-year-batch {
        height: 150px;
    }

    .feature-cards {
        margin: 0 0 30px 0;
    }

    .facts-cards-container {
        margin: 50px 0 0 0;


}


/* ----------------576px screen styles------------- */
@media screen and (max-width: 576px) {
    .banner-img {
        margin: 35px 0 20px 0;
    }


    .teams-img-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 24px;
    }

    .features-card-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .feature-cards {
        margin: 0;
    }
}



