/* -----------Work Sans font-------------- */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,400;1,700&display=swap');



/* ----------------common share styles------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}


.container {
    width: 75vw;
    margin-inline: auto;
    overflow: hidden;
}

.responsive-menu {
    color:  #424242;
    font-size: 1.125rem;
    background: rgba(255, 255, 255, 0.603);
    padding: 10px 10px;
   border-radius: 4px;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
   margin-right: 5px;
   display: none;
}

.description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}

.primary-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
   cursor: pointer;
}

/* ------------------header styles----------- */

#header {
    width: 100vw;
    background: #ff900e1a;
}

/* ------------nav-styles--------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 63px 0 0 0;

}

nav h3 {
    color:  #131313;
    font-size: 2.813rem;
    font-weight: 700;
}


nav ul li {
    list-style: none;

}

.nav-menu {
    display: flex;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color:  #424242;
    font-size: 1.125rem;
    font-weight: 500;
}

/* -------------------header-banner-styles------------ */


.header-banner {
    margin-top: 100px;
    text-align: center;
}

.banner-title span {
    display: block;
    color: #131313;
    font-size:4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.header-banner p {
    margin: 32px 0;
}

.banner-img {
    width: 75vw;
    margin: 70px 0 45px 0;

}

.banner-img img {
    width: 100%;
}






















