/* -----------Work Sans font-------------- */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,400;1,700&display=swap');



/* ----------------common share styles------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}


.container {
    width: 75vw;
    margin-inline: auto;
    overflow: hidden;
}

.responsive-menu {
    color:  #424242;
    font-size: 1.125rem;
    background: rgba(255, 255, 255, 0.603);
    padding: 10px 10px;
   border-radius: 4px;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
   margin-right: 5px;
   display: none;
}

.section-title {
    color:  #131313;
    font-size: 2.813rem;
    font-weight: 700;
}

.description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}

.primary-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
   cursor: pointer;
}

/* ------------------header styles----------- */

#header {
    width: 100vw;
    background: #ff900e1a;
}

/* ------------nav-styles--------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 63px 0 0 0;

}

nav h3 {
    color:  #131313;
    font-size: 2.813rem;
    font-weight: 700;
}


nav ul li {
    list-style: none;

}

.nav-menu {
    display: flex;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color:  #424242;
    font-size: 1.125rem;
    font-weight: 500;
}

/* -------------------header-banner-styles------------ */


.header-banner {
    margin-top: 100px;
    text-align: center;
}

.banner-title span {
    display: block;
    color: #131313;
    font-size:4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.header-banner p {
    margin: 32px 0;
}

.banner-img {
    width: 75vw;
    margin: 70px 0 45px 0;

}

.banner-img img {
    width: 100%;
}


/* --------teams-section-styles------ */

.teams-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
}

.teams-img-container {
    width: calc(50% - 35px);

}

.teams-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.teams-img-container img {
    width: 100%;
    transition: 0.5s;
}

.teams-img-container img:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.233);
    border-radius: 8px;
}



.teams-description-container {
    width: calc(50% - 35px);
}

.teams-description-container h2 {
    margin: 0 127px 24px 0;
}

.gray-quick-list {
    color: #727272;
    font-weight: 500;
}

.features-orange {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;

}

.teams-description-container p {
    margin: 0 61px 32px 0;
}


/* ----------------features-section-styles------------ */
.features-container {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;

}

.features-description-container {
    width: 40%;
    padding-top: 40px;
}

.features-description-container h2 {
    margin: 0 92px 24px 0;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.features-description-container p {
    margin-bottom: 30px;
}

.feature-cards {
    padding: 30px 42px 30px 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #0000000f;
    margin-bottom: 20px;
}

.feature-card-title {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-cards P {
    margin: 0;
}


.features-container-img {
    width: calc(60% - 146px);
}

.features-container-img img {
    width: 100%;
}

.ten-year-batch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
    position: relative;
    bottom: 123px;
    left: -92px;

}

.ten-year-batch h3 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
}

.ten-year-batch p {
    color: #FFF;
    font-size: 1.563rem;
    font-weight: 500;
    line-height: 40px;
}

























